# Ignore any Rasa models, par the latest model
models/
!models/latest-model.tar.gz

# Ignore caches
.rasa/cache/

custom-api/__pycache__/
network-controller/__pycache__/
rasa/actions/__pycache__/

# Ignore log files

tmux-*.log
